
#additionalHomeContent div p {
    margin-left: -100px;
    width: 925px;
}

#additionalHomeContent img {
    height: 70px;
    padding-left: -50px;
    padding-top: -40px;
    width: 70px;
}

#additionalHomeContent p {
    margin-left: -100px;
    padding-top: 30px;
    width: 925px;
}

#additionalHomeContent p a {
    left: -350px;
    margin-top: -35px;
    position: absolute;
}

#content ol li {
    text-align: left;
    width: 120%;
}

#journalDescription {
    margin-left: -95px;
    width: 930px;
}

#navbar {
    font-size: 88%;
    width: 101%;
}

#content {
    background: none;
}

  html {
    background: url(ftp://195.210.46.25/httpdocs/img/waterbackgroundlongline.png)80% 0% no-repeat;
}

