#body{
	padding-top: 4%;
}
#sidebarNavigation{
	display:none;
}
#sidebarDevelopedBy{
	display:none;
}
#sidebarHelp{
	display:none;
}
#sidebarUser{
	display: none;
}
#sidebarFontSize{
	display: none;
}

@media (max-device-width: 420px) {
	#container{
		width:100% !important;
	}
#headerTitle h1 {
    margin: 0;
    padding: 0;
    background: url(http://water-ca.org/ej/public/journals/mobileHeader_en.png) no-repeat;
    height: 50px;
    background-size: 50%;
}
}
