#body{
	padding-top: 4%;
}
#sidebarNavigation{
	display:none;
}
#sidebarDevelopedBy{
	display:none;
}
#sidebarHelp{
	display:none;
}
#sidebarUser{
	display: none;
}
#sidebarFontSize{
	display: none;
}

@media (max-device-width: 420px) {
	#container{
		width:100% !important;
	}
	#headerTitle h1 {
		display:none;
	}
	.fa.fa-bars{
		margin-top:-10%;
	}
	#signinTable{
		width:35%;
	}
	#signinForm p{
		width:33%;
	}
	ul.menu li {
		font-size: 2.8em !important;
	}
	#sidebarLanguageToggle img {
		position: absolute;
		margin-left: -20px;
		margin-top: 26px;
	}
}
